

.umd-title {
  color: #fff;
  font-size: 2em;
  text-align: center;
  padding-left: 40px;
  text-decoration: none;
}


@import "mirador_viewer";
@import "bootstrap_overrides";
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';
@import "blacklight-frontend/app/assets/stylesheets/blacklight/blacklight";
